.home {

    .welcome {
        height: 100vh;
        text-align: center;
        padding: 2rem;

        .text {
            font-weight: bold;
        }

        .image {
            height: 300px;
            width: 300px;
            margin: 0 auto;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            img {
                width: 100%;
                height: auto;
            }
        }

    }

    .feature {
        img {
            height: 150px;
            width: auto;
            margin: 0 auto;
        }
    }
}