.board {
    position: relative;
    max-width: 300px;
    min-width: 150px;
    
    
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (1 / 1) * 100%;
    }
    
    >.inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

#content {
    border-radius: 10px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
}
