@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary-color: #708090;
    --primary-color-tint: #7e8d9b;
    --primary-color-shade: #63717f;
    --default-transition: all ease-in-out .3s;
}

#root {
    min-height: 100%;
    position: relative;
}

h1,h2,h3,h4,h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 300 !important;
}

a,p,span,article,section,strong,small,em,caption {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--primary-color);
    transition: var(--default-transition);
    &:hover, &:focus {
        color: var(--primary-color-tint);
    }
}
